@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap');
html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    ;
}

a {
    text-decoration: none;
}

body {
    padding: 1vh 7.5vw;
    margin: 3vh 9vw;
    /*box-shadow: 0px 2px 10px 7px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0px 2px 41px 7px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 2px 41px 7px rgba(0, 0, 0, 0.28);
    border-radius: 30px;*/
    align-self: center;
}

.separator {
    width: 74%;
    height: 1px;
    background: #e2e2e2;
    align-self: flex-end;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bolder;
}

header a {
    text-transform: uppercase;
    color: black;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    row-gap: 10px;
    align-items: center;
    color: black;
}

.navbar ul {
    display: flex;
    width: 35vw;
}

.navbar li {
    text-transform: uppercase;
    padding: 7px 0;
    border: none;
    margin: 10px 10px;
}

.navbar li.active {
    padding: 4px 0;
    border-top: 3px solid #76b2ff;
}

.searchbar {
    text-align: end;
    display: flex;
}

.searchbar-btn,
.badge {
    border-radius: 20px;
    padding: 3px 6px;
    border: 0.5px solid #a5a5a5;
    text-align: center;
    margin: 0 7px;
}

.div-section-categories {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    justify-content: space-evenly;
}

.div-section-categories-title {
    margin-top: 2.8rem;
    font-size: 3rem;
    font-weight: bolder;
}

.div-sort-by {
    display: flex;
    justify-content: flex-end;
    column-gap: 1.3rem;
    font-size: 1.3rem;
}

.sort-by-selection,
.sort-by-disabled {
    font-weight: bold;
}

.sort-by-disabled {
    color: #a5a5a5;
}

.div-category {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.div-category div {
    width: 15vw;
    height: 10vw;
}

.div-category-info {
    margin-right: 2rem;
}

.div-category-info,
a.logo {
    width: 15vw;
}

.div-category-info h1 {
    font-size: 1.7rem;
}

.div-category-info h2 {
    color: #a5a5a5;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.div-category-img {
    background-color: #e2e2e2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 25px;
}