@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700;800&display=swap');
html {
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    ;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.navbar a {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    font-size: 12pt;
    font-weight: bold;
    padding: 7px 0;
    border: none;
    margin: 10px 20px;
}

.navbar li.active {
    padding: 4px 0;
    border-top: 3px solid cornflowerblue;
}

.searchbar {
    display: flex;
}

.searchbar-btn,
.badge {
    border-radius: 20px;
    padding: 3px 6px;
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 9pt;
    margin: 0 7px;
}

.div-section-categories {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-evenly;
}

.div-sort-by {
    font-size: 10pt;
}

.sort-by-selection {
    font-weight: bold;
}

.div-category {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}

.div-category div {
    width: 20vw;
    height: 15vw;
}

.div-category-info {
    max-width: 20%;
}

.div-category-info h2 {
    color: #686868;
}

.div-category-img {
    background-color: #dddddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
}